.sidebarfriendlist{
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebarfriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.sidebarfriendimage{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}